{% extends 'account/base.html.twig' %}

{% block title %} LISTE DE MES SALLES {% endblock %}

{% block titrepage %}MES SALLES !{% endblock %}

{% block stylesheets %}
    <!-- DataTables -->
    <link href="{{asset('assets/plugins/datatables/jquery.dataTables.min.css')}}" rel="stylesheet" type="text/css" />
    <link href="{{asset('assets/plugins/datatables/buttons.bootstrap.min.css')}}" rel="stylesheet" type="text/css" />
    <link href="{{asset('assets/plugins/datatables/responsive.bootstrap.min.css')}}" rel="stylesheet" type="text/css" />
    {{ parent() }}
{% endblock %}

{% block filedarian %}
<li><a href="{{path('accueil_account')}}">Sen office</a></li>
<li class="active">Mes salles</li>
{% endblock %}

{% block main %}
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Responsive example</h3>
            </div>
            <div class="panel-body">
                <table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>Nom de la salle</th>
                            <th>Type de salle</th>
                            <th>Adresse</th>
                            <th>Nombre de Place</th>
                            <th>Prix location/H</th>
                            <th>En ligne</th>
                            <th>Détails</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for salle in salles %}
                        <tr>
                            <td>{{ salle.nomComplet }}</td>
                            <td>{{ salle.typeDeBien.nomType }}</td>
                            <td>{{ salle.quartier ~ ', ' ~ salle.cArrondissement.nomCArrond }}</td>
                            <td>{{ salle.nbreDeplaces }}</td>
                            <td>{{ salle.prixLocation }} FCFA</td>
                            <td>
                                {% if salle.etat %}
                                    OUI
                                {% else %}
                                    NON
                                {% endif %}
                            </td>
                            <td>
                                <form method="POST" action="{{ path('detail_salle') }}">
                                    <input type="hidden" name="id" value="{{ salle.id }}">
                                    <button type="submit" class="btn btn-primary btn-custom waves-effect waves-light m-b-5">Voir détails</button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>
    </div>

</div> <!-- End Row -->
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <!-- Datatables-->
    <script src="{{asset('assets/plugins/datatables/jquery.dataTables.min.js')}}"></script>
    <script src="{{asset('assets/plugins/datatables/dataTables.bootstrap.js')}}"></script>
    <script src="{{asset('assets/plugins/datatables/dataTables.buttons.min.js')}}"></script>
    <script src="{{asset('assets/plugins/datatables/buttons.bootstrap.min.js')}}"></script>
    <script src="{{asset('assets/plugins/datatables/vfs_fonts.js')}}"></script>
    <script src="{{asset('assets/plugins/datatables/buttons.html5.min.js')}}"></script>
    <script src="{{asset('assets/plugins/datatables/dataTables.keyTable.min.js')}}"></script>
    <script src="{{asset('assets/plugins/datatables/dataTables.responsive.min.js')}}"></script>
    <script src="{{asset('assets/plugins/datatables/responsive.bootstrap.min.js')}}"></script>
    <script src="{{asset('assets/plugins/datatables/dataTables.scroller.min.js')}}"></script>

    <!-- Datatable init js -->
    <script src="{{asset('assets/pages/datatables.init.js')}}"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            $('#datatable-responsive').DataTable({
                "aoColumnDefs": [{
                    'bSortable': false,
                    'aTargets': [-1]
                }],
                "oLanguage": {
                    "oPaginate": {
                        "sFirst": "Premier",
                        "sLast": "Dérnier",
                        "sNext": "Suivant",
                        "sPrevious": "Précedent",
                    },
                    "sSearch": "Recherche:",
                    "sEmptyTable": "Aucune donnée disponible",
                    "sInfo": "affichage de _START_ à _END_ sur _TOTAL_ éléments",
                    "sInfoEmpty": "Aucune donnée disponible",
                    "sInfoFiltered": "(Recherché sur _MAX_ éléments au total)",
                    "infoPostFix": "",
                    "thousands": ",",
                    "sLengthMenu": "Afficher par _MENU_ éléments",
                    "loadingRecords": "Chargement...",
                    "processing": "procéssus...",
                    "sZeroRecords": "Aucun résultat trouvé",
                },
                "iDisplayLength": 5,
                "aLengthMenu": [
                    [5, 10, 25, 50, 100, -1],
                    [5, 10, 25, 50, 100, "Tout"]
                ]
            });
        } );
        TableManageButtons.init();
        </script>

{% endblock %}