{% extends 'account/base.html.twig' %}

{% block title %} {{ salle.nomComplet }} {% endblock %}

{% block titrepage %} {{ salle.nomComplet }} !{% endblock %}

{% block stylesheets %}
    <!-- Plugin Css-->
    <link rel="stylesheet" href="{{asset('assets/plugins/magnific-popup/dist/magnific-popup.css')}}">
    <link rel="stylesheet" href="{{asset('assets/plugins/jquery-datatables-editable/datatables.css')}}">
    {{ parent() }}
    <link href="{{asset('assets/plugins/tagsinput/jquery.tagsinput.css')}}" rel="stylesheet">
    <link href="{{asset('assets/plugins/toggles/toggles.css')}}" rel="stylesheet">
    <link href="{{asset('assets/plugins/timepicker/bootstrap-timepicker.min.css')}}" rel="stylesheet">
    <link href="{{asset('assets/plugins/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css')}}" rel="stylesheet">
    <link href="{{asset('assets/plugins/colorpicker/colorpicker.css')}}" rel="stylesheet" type="text/css">
    <link href="{{asset('assets/plugins/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.css')}}" rel="stylesheet" />
    <link href="{{asset('assets/plugins/select2/dist/css/select2.css')}}" rel="stylesheet" type="text/css">
    <link href="{{asset('assets/plugins/select2/dist/css/select2-bootstrap.css')}}" rel="stylesheet" type="text/css">

{% endblock %}

{% block filedarian %}
<li><a href="{{path('accueil_account')}}">Sen office</a></li>
<li><a href="{{path('liste_salle')}}">Mes salles</a></li>
<li class="active">details {{ salle.nomComplet }}</li>
{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading"><h3 class="panel-title">Informations</h3></div>
                <div class="panel-body">
                    {{ form_start(form, {'attr': {'class': 'form-horizontal', 'role': 'form'}}) }}
                        <div class="form-group">
                            <label>Nom de la salle</label>
                            <div class="col-md-12">
                                {{ form_widget(form.nomComplet, {'attr': {'class': 'form-control', 'placeholder': 'Prénom et Nom'}}) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Adresse</label>
                            <div class="col-md-12">
                                {{ form_widget(form.cArrondissement, {'attr': {'class': 'select2 form-control', 'data-placeholder': 'Choisir votre adresse...'}}) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Quartier</label>
                            <div class="col-md-12">
                                {{ form_widget(form.quartier, {'attr': {'class': 'form-control', 'placeholder': 'Votre quartier, Rue'}}) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Type de salle</label>
                            <div class="col-md-12">
                                {{ form_widget(form.typeDeBien, {'attr': {'class': 'select2 form-control', 'data-placeholder': 'Choisir votre adresse...'}}) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Nombre de place</label>
                            <div class="col-md-12">
                                {{ form_widget(form.nbreDeplaces, {'attr': {'class': 'form-control', 'placeholder': 'Nombre de place de salle'}}) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Prix de location (<span class="text-danger">FCFA</span>)</label>
                            <div class="col-md-12">
                                {{ form_widget(form.prixLocation, {'attr': {'class': 'form-control', 'placeholder': '12000'}}) }}
                                <span class="help-block"><small>Renseigner le prix sans espace ni de FCFA à la fin.</small></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Description</label>
                            <div class="col-md-12">
                                {{ form_widget(form.description, {'attr': {'class': 'form-control', 'rows': '5', 'placeholder': 'Décrivez nous un peut votre salle...'}}) }}
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-3 col-sm-6 col-sm-offset-3">
                                <button type="submit" class="btn btn-block btn-lg btn-primary waves-effect waves-light">AJouter</button>
                            </div>
                        </div>
                    {{ form_end(form) }}
                </div> <!-- panel-body -->
            </div> <!-- panel -->
        </div> <!-- col -->

        <div class="col-sm-8">
            <div class="panel">
                <div class="panel-heading"><h3 class="panel-title">Horaires d'ouverture</h3></div>
                    <div class="panel-body" style="overflow: auto;">
                        <table class="table table-bordered table-striped" id="datatable-editable" data-leschamps="ref, jour, disponible, hOuverture, hFermeture">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Jour</th>
                                    <th>Ouvrable</th>
                                    <th>Ouverture</th>
                                    <th>Fermeture</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for ouvrable in ouvrables %}
                                <tr class="gradeX">
                                    <td>{{ ouvrable.jour.id }}</td>
                                    <td>{{ ouvrable.jour.libelle }}</td>
                                    <td>
                                        {% if ouvrable.disponible %}
                                            OUI
                                        {% else %}
                                            NON
                                        {% endif %}
                                    </td>
                                    <td data-id="{{ ouvrable.id }}">
                                        {% if ouvrable.disponible %}
                                            {{ ouvrable.ouverture | date("H:i") }}
                                        {% else %}
                                            -
                                        {% endif %}
                                    </td>
                                    <td data-id="{{ ouvrable.id }}">
                                        {% if ouvrable.disponible %}
                                            {{ ouvrable.fermeture | date("H:i") }}
                                        {% else %}
                                            -
                                        {% endif %}
                                    </td>
                                    <td class="actions">
                                        <a href="#" data-id="{{ ouvrable.id }}" class="hidden on-editing save-row"><i class="fa fa-save"></i></a>
                                        <a href="#" class="hidden on-editing cancel-row"><i class="fa fa-times"></i></a>
                                        <a href="#" class="on-default edit-row"><i class="fa fa-pencil"></i></a>
                                        <a href="#" class="on-default remove-row"><i class="fa fa-trash-o"></i></a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!-- end: page -->
                </div> <!-- end Panel -->
            </div>
        </div> <!-- col -->

    </div> <!-- End row -->

<!-- MODAL -->
<div id="dialog" class="modal-block mfp-hide">
    <section class="panel panel-info panel-color">
        <header class="panel-heading">
            <h2 class="panel-title">Etes vous Sûre?</h2>
        </header>
        <div class="panel-body">
            <div class="modal-wrapper">
                <div class="modal-text">
                    <p>Voulez vous vraiment supprimmer?</p>
                </div>
            </div>

            <div class="m-t-20">
                <div class="text-right">
                    <button type="button" id="dialogConfirm" class="btn btn-primary waves-effect waves-light">Confirm</button>
                    <button type="button" id="dialogCancel" class="btn btn-default waves-effect">Annuler</button>
                </div>
            </div>
        </div>

    </section>
</div>
<!-- end Modal -->
{% endblock %}

{% block javascripts %}
    {{parent()}}
    <script src="{{asset('assets/plugins/select2/dist/js/select2.min.js')}}" type="text/javascript"></script>
    <script src="{{asset('assets/plugins/tagsinput/jquery.tagsinput.min.js')}}"></script>
    <script src="{{asset('assets/plugins/toggles/toggles.min.js')}}"></script>
    <script src="{{asset('assets/plugins/timepicker/bootstrap-timepicker.min.js')}}"></script>
    <script type="text/javascript" src="{{asset('assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js')}}"></script>
    <script type="text/javascript" src="{{asset('assets/plugins/colorpicker/bootstrap-colorpicker.js')}}"></script>
    <script type="text/javascript" src="{{asset('assets/plugins/jquery-multi-select/jquery.multi-select.js')}}"></script>
    <script type="text/javascript" src="{{asset('assets/plugins/jquery-multi-select/jquery.quicksearch.js')}}"></script>
    <script src="{{asset('assets/plugins/bootstrap-inputmask/bootstrap-inputmask.min.js')}}" type="text/javascript"></script>
    <script src="{{asset('assets/plugins/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.js')}}" type="text/javascript"></script>

    <!-- Examples -->
    <script src="{{asset('assets/plugins/magnific-popup/dist/jquery.magnific-popup.min.js')}}"></script>
    <script src="{{asset('assets/plugins/jquery-datatables-editable/jquery.dataTables.js')}}"></script>
    <script src="{{asset('assets/plugins/datatables/dataTables.bootstrap.js')}}"></script>
    <script src="{{asset('assets/pages/datatable.ouvrable.js')}}"></script>
    <script>
        jQuery(document).ready(function() {
            // Select2
            jQuery(".select2").select2({
                width: '100%'
            });
        });
    </script>
{% endblock %}