{% extends 'front.html.twig' %}

{% block title %}Partager votre salle{% endblock %}

{% block stylesheets %}
{{ parent() }}
<style>
.nav-tabs {
    margin-bottom: 15px;
}
.sign-with {
    margin-top: 25px;
    padding: 20px;
}
div#OR {
    height: 30px;
    width: 30px;
    border: 1px solid #C2C2C2;
    border-radius: 50%;
    font-weight: bold;
    line-height: 28px;
    text-align: center;
    font-size: 12px;
    float: right;
    position: absolute;
    right: -16px;
    top: 40%;
    z-index: 1;
    background: #DFDFDF;
}
.a-tab:hover{
    height: 25px;
}

#LoginForm .form-group,
#SignupForm .form-group {
    margin-bottom: 0px;
}
</style>
{% endblock %}

{% block slide %}
{% endblock %}

{% block recherche %}
{% endblock %}

{% block offre %}
<div class="mg-page-title parallax" style="margin-top: 8.5%;">
	<div class="container ">
		<div class="ro">
            <div class="col-md-12">
                <h2>Louer  votre salle</h2>
                <p style="text-shadow: 2px 2px #16262e; font-weight: bold; font-size: 18px;">Sen Office vous permet de louer en toute sécurité votre salle de réunion, formation ou séminaire...</p>
            </div>
        </div>
    </div>
</div>

<!-- Large modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    ×</button>
                <h4 class="modal-title" id="myModalLabel">
                    Connexion/Inscription</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-8" style="border-right: 1px dotted #C2C2C2;padding-right: 30px;">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs">
                            <li class="active"><a class="a-tab" href="#Login" data-toggle="tab">Connexion</a></li>
                            <li><a class="a-tab" href="#Registration" data-toggle="tab">Inscription</a></l>
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div class="tab-pane active" id="Login">
                                <form id="LoginForm"  method="post" action="{{ path('security_login') }}" role="form" class="form-horizontal">
                                    <div class="alert alert-danger" id="alert-error">
                                    </div>
                                    <div class="form-group">
                                        <label for="email" class="col-sm-4 control-label">
                                            E-mail</label>
                                        <div class="col-sm-8">
                                            <input type="text" id="email" name="_username" value="{{ last_username }}" class="form-control" placeholder="E-mail" required/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="password" class="col-sm-4 control-label">
                                            Mot de passe</label>
                                        <div class="col-sm-8">
                                            <input type="password" class="form-control" id="password" name="_password" placeholder="Password" minlength="4" required/>
                                        </div>
                                    </div>
                                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>
                                    <!--<input type="hidden" name="_failure_path" value="{{ path('partager_salle_front') }}" />-->
                                    <input type="hidden" name="_target_path" value="{{ path('ajouter_salle') }}" />
                                    <div class="row">
                                        <div class="col-sm-8 col-sm-offset-4">
                                            <button type="submit" class="btn btn-main">
                                                Se connecter
                                            </button>
                                            <img id="loading-verif" src="{{asset('assets/images/loading.gif')}}" alt="chargement...">
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="tab-pane" id="Registration">
                                {{ form_start(form, {'attr': {'id': 'SignupForm', 'class': 'form-horizontal', 'role':'form'}}) }}
                                    <div class="form-group">
                                        <label for="nomComplet" class="col-sm-4 control-label">
                                            Prénom et Nom
                                        </label>
                                        <div class="col-sm-8">
                                            {{ form_widget(form.proprietaire.nomComplet |raw |e, {'attr': {'class': 'form-control', 'placeholder': 'Prénom et Nom'}}) }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="numPiece" class="col-sm-4 control-label">
                                            Numéro de pièce
                                        </label>
                                        <div class="col-sm-8">
                                            {{ form_widget(form.proprietaire.numPiece |raw |e, {'attr': {'class': 'form-control', 'placeholder': '175619940126'}}) }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="adresse" class="col-sm-4 control-label">
                                            Adresse
                                        </label>
                                        <div class="col-sm-8">
                                            {{ form_widget(form.proprietaire.adresse |raw |e, {'attr': {'class': 'form-control', 'placeholder': 'Colobane, Dakar'}}) }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="email" class="col-sm-4 control-label">
                                            E-mail</label>
                                        <div class="col-sm-8">
                                            {{ form_widget(form.email |raw |e, {'attr': {'class': 'form-control', 'placeholder': 'E-mail'}}) }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="telephone" class="col-sm-4 control-label">
                                            Téléphone
                                        </label>
                                        <div class="col-sm-8">
                                            {{ form_widget(form.proprietaire.telephone |raw |e, {'attr': {'class': 'form-control', 'placeholder': '775919686'}}) }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="username" class="col-sm-4 control-label">
                                            Nom d'utilisateur
                                        </label>
                                        <div class="col-sm-8">
                                            {{ form_widget(form.username |raw |e, {'attr': {'class': 'form-control', 'placeholder': 'Username'}}) }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="password" class="col-sm-4 control-label">
                                            Mot de passe
                                        </label>
                                        <div class="col-sm-8">
                                            {{ form_widget(form.password.first, {'attr': {'class': 'form-control', 'placeholder': 'Mot de passe'}}) }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="password" class="col-sm-4 control-label">
                                            Mot de passe
                                        </label>
                                        <div class="col-sm-8">
                                            {{ form_widget(form.password.second, {'attr': {'class': 'form-control', 'placeholder': 'Retapez le mot de passe'}}) }}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-10 col-sm-offset-2">
                                            <button type="submit" class="btn btn-main">
                                                S'inscrire & Continuer
                                            </button>
                                            <button type="reset" class="btn btn-default">
                                                Annuler
                                            </button>
                                        </div>
                                    </div>
                                {{ form_end(form) }}
                            </div>
                        </div>
                        <div id="OR" class="hidden-xs">
                            OU
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="row text-center sign-with">
                            <div class="col-md-12">
                                <h3>
                                    S'inscrire avec</h3>
                            </div>
                            <div class="col-md-12">
                                <div class="btn-group btn-group-justified">
                                    <a href="#" class="btn" style="background: #0d47a1; color: white; border-radius: 5px 0px 0px 5px;">Facebook</a>
                                    <a href="#" class="btn" style="background: red; color: white; border-radius: 0px 5px 5px 0px;">Google</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container" style="margin-top: 1%; margin-bottom: 5%;">
    <div class="row" style="margin-right: 0; padding: 5px;">
        <div class="mg-testi-partners parallax col-12 col-sm-6" style="padding: 20px; background: white; color: #16262e;">
            <div>
                <p>
                    Proposez la location de votre salle de réunion ou salle de séminaire et obtenez un revenu complémentaire. La création d'une annonce pour louer une salle sur Bird Office est gratuite et sans engagement !
                </p>
            </div>
            <div>
                <p>
                    Proposez la location de votre salle de réunion ou salle de séminaire et obtenez un revenu complémentaire. La création d'une annonce pour louer une salle sur Bird Office est gratuite et sans engagement !
                </p>
            </div>
            <div>
                <p>
                    Proposez la location de votre salle de réunion ou salle de séminaire et obtenez un revenu complémentaire. La création d'une annonce pour louer une salle sur Bird Office est gratuite et sans engagement !
                </p>
            </div>
        </div>
        <div class="mg-testi-partners parallax col-12 col-sm-6" style="padding: 20px;">
            <div>
                <p>
                    Proposez la location de votre salle de réunion ou salle de séminaire et obtenez un revenu complémentaire. La création d'une annonce pour louer une salle sur Bird Office est gratuite et sans engagement !
                </p>
            </div>
            <div>
                <p>
                    Proposez la location de votre salle de réunion ou salle de séminaire et obtenez un revenu complémentaire. La création d'une annonce pour louer une salle sur Bird Office est gratuite et sans engagement !
                </p>
            </div>
            <div>
                <p>
                    Proposez la location de votre salle de réunion ou salle de séminaire et obtenez un revenu complémentaire. La création d'une annonce pour louer une salle sur Bird Office est gratuite et sans engagement !
                </p>
                {% if  app.user %}
                <a href="{{path('ajouter_salle')}}" id="btn-authenticate" class="btn btn-main" data-toggle="modal" data-target="">
                    <span style="font-weight: bold; text-transform: upperCase;">Je loue ma salle</span>
                </a>
                {% else %}
                    
                <button id="btn-authenticate" class="btn btn-main" data-toggle="modal" data-target="#myModal">
                    <span style="font-weight: bold; text-transform: upperCase;">Je loue ma salle</span>
                </button>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block apropos %}
{% endblock %}

{% block partenaires %}
{% endblock %}

{% block galerie %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{asset ('assets/template/js/authentication.js')}}"></script>
{% endblock %}
