{% extends 'front.html.twig' %}

{% block title %}Reserever{% endblock %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block slide %}
    <div>
        <br><br>

    </div>

{% endblock %}
{% block offre %}
    {# {%for bien in  biens %} #}

    <div class="mg-best-rooms maclasse" style="display:flex">

        <div class="container ok">
            {# <div id="alertreseravtion" class="alert alert-success text-center">
                <strong >Success! Votre Résévation est prise en compte Nous vous contacterons sous peu
                </strong>
            </div> #}

            <!--div contient forMulaire et iMages-->
            <div>

                <div class="col-md-7">
                    <h2 class="mg-sec-left-title">{{ salle.nomComplet |e |raw }}</h2>

                    <div style="width:600px;heigth:900px" class="mg-gallery-container">
                        <ul class="mg-gallery" id="mg-gallery">
                         {% for imageS in salle.images %}

                            <li><img style="width:100%;heigth:200px" src="data:image/png;base64,{{imageS.image}}" alt="Partner Logo"></li>
                           {% endfor %}    
                        </ul>
                        <ul style="width:100% ;heigh:100%" class="mg-gallery-thumb" id="mg-gallery-thumb">
                        {% for imageS in salle.images %}
                            <li><img style="width:100%; heigth:100%" src="data:image/png;base64,{{imageS.image}}" alt="Partner Logo"></li>
                      {% endfor %}
                            
                        </ul>
                    </div>
                </div>
                <div style="margin-left:10px ; " class="container">

                    <fieldset >

                        <center>
                            <img style="width:100px" class="img-responsive center" src="{{asset('assets/images/users/giphy.gif')}}" alt="reservation sen office"></center>
                        <div style="background-color:orange">
                            <p class="h4 text-center mb-4">RESERVATION</p>
                        </br>
                        {{ form_start(form)}}
                        <div style="margin-left:20px" class="md-form">
                            <i class="fa fa-user prefix grey-text"></i>
                            {{ form_row(form.client.nomComplet |raw |e,{'attr':{'placeholder':'Boubacar SECK','class':"form-control"}})}}
                        </div>

                        <div style="width:110px" class="md-form">
                            <i class="fa fa-phone prefix grey-text"></i>
                            {{ form_row(form.client.telephone,{'attr':{'placeholder':'770000000','class':"form-control"}})}}
                        </div>

                        <div class="md-form">
                            <i class="fa fa-envelope prefix grey-text"></i>
                            {{ form_row(form.client.mail,{'attr':{'placeholder':'senoffice@gmail.com','class':"form-control"}})}}
                        </div>
                        <div style="margin-left:20px" class="md-form">
                            <i class="fa fa-clock prefix grey-text"></i>
                            <label >
                                Date et Heure début de Cérémonie
                                {% if form_errors(form.debut) %}
                                    <div class="alert alert-danger">{{ form_errors(form.debut) }}
                                    </div>
                                {% endif %}
                            </label>
                            {{ form_widget(form.debut,{'attr':{'class':"form-control"}})}}
                        </div>
                        <div style="margin-left:20px" class="md-form">
                            <i class="fa fa-clock"></i>
                            <label >
                                Date et Heure Fin de Cérémonie
                                {% if form_errors(form.fin) %}
                                    <div class="alert alert-danger">{{ form_errors(form.fin) }}
                                    </div>
                                {% endif %}
                            </label>
                            {{ form_widget(form.fin,{'attr':{'class':"form-control"}})}}
                        </div>

                        <div class="text-center mt-4">
                            <input class="btn btn-dark" type="submit" name="reserver" value="Reserver">
                        </div>
                        {{ form_end(form)}}
                    </div>

                </fieldset>

            </div>
        </div>

    </div>
</div>

{% endblock %}

{% block recherche %}{% endblock %}

{% block apropos %}



{% if commentaires | length > 0 %}

<div class="card ">
    <div class="panel panel-warning">
        <div class="panel-heading">
            <h4 class="panel-title">{{commentaires|length |raw }}
                {% if commentaires | length == 1 %}
                    Commentaire Pour cette Publication
                {% else %}
                    Commentaires Pour cette Publication
                {% endif %}
            {% endif %}
            </h4>
       </div>
    {% for commentaire in commentaires %}
        <div class="panel-body">
        
            <div class="inbox-widget  ">

                <a>
                    <div class="inbox-item ">
                        <div class="inbox-item-img"><img src="{{asset('assets/images/users/avatar-2.jpg')}}" class="img-circle" alt=""></div>
                        <p class="inbox-item-author">{{commentaire.user.username |e |raw }}</p>
                        <h5><p class="">  {{commentaire.contenu |e |raw }}</p>  </h5>
                        <p class="inbox-item-date">{{commentaire.datePub |e |raw  |date('Y-m-d H:i:s') }}</p>  
                    </div>
                </a>
            </div>
        </div>
           {% else %}
        <center>
            <button class="btn btn-main ">Pas de Commentaires diponibles Soyez le premier à commenter</button>

        </center>
{% endfor %}
    </div>

</div>
<br>
<!-- end col -->


{% endblock %}

{% block partenaires %}

{% if app.user %}

<div>

{{ form_start(formC)}}

<label style="margin-left:20px"  >

    Ajouter Commentaires
    {% if form_errors(formC.contenu) %}
        <div class="alert alert-danger">{{ form_errors(formC.contenu) }}
        </div>
    {% endif %}
</label>
{{ form_widget(formC.contenu,{'attr':{'class':"form-control"}})}}

<input  style="margin-left:140px" class="btn btn-main" type="submit" name="comment" value="Commenter">

{{ form_end(formC)}}
</div>
<br>

{% endif %}


{% endblock %}
{% block galerie %}{% endblock %}
{% block form %}{% endblock %}